<div class="row top-row margin-bottom">
  <div class="col-12 text-align-center">
    <h1>My personal progress</h1>
  </div>
</div>

<div class="progress">
  <ng-container *ngFor="let event of progress; let index = index">

    <div [class]="getClass(index)" role="progressbar" [style.width]="getWidth()" aria-valuenow="15"
         aria-valuemin="0" aria-valuemax="100">
      <div class="sub-text">
        {{event.name}}
      </div>
    </div>

  </ng-container>

</div>

<div class="row top-row margin-bottom">
  <div class="col-12 text-align-center">
    <h4>Classes followed:</h4>
  </div>
</div>

<div class="row" *ngFor="let event of progress">
  <div class="col-12">
    <h4>{{event.name}}</h4>
    <div class="text">
      {{event.text}}
    </div>
  </div>
</div>
