@import '../../styles/constants';

.us {
  margin: 0 auto;
  border-radius: 30px;
  background: url('../../assets/us.jpg') 50% 50% no-repeat; /* 50% 50% centers image in div */
  width: 667px;
  height: 500px;
  border: 1px solid $colorLightGray;
}
