<div class="top-row">
  <div *ngFor="let event of events">
    <div [@openClose]="event.expand ? 'open' : 'closed'" class="open-close-container">

    <div class="row event-row">
      <div class="col-10 offset-1 text-align-center image">
        <div [class]="event.image">
          <button *ngIf="!event.expand" class="btn secondary-button show-more-button" (click)="event.expand = true">show more</button>
          <button *ngIf="event.expand" class="btn secondary-button show-more-button" (click)="event.expand = false">show less</button>
          <button class="btn primary-button join-button" (click)="signUp(event)">join</button>
        </div>
      </div>
    </div>
    <div class="row info" [hidden]="!event.expand">
      <div class="col-8 ">
      {{event.text}}
      </div>
      <div class="col-3 offset-1 left-border">
        Venue: {{event.venue}}<br/>
        {{event.time}}
      </div>
    </div>
    </div>
  </div>

</div>
