$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);
$colorRed: rgb(255, 0, 0);
$colorLightGray: rgb(242, 242, 242);
$colorBorderGray: rgb(165, 165, 165);
$colorGreen: #2ECC40;

$colorBlue: #0074D9;
$colorLightBlue: #33a0ff;
$colorDarkGray: #AAAAAA;

$themeColorOne: $colorBlue;
$themeColorOneShade: $colorLightBlue;

// buttons
$button-font-size: 14px;
$button-font-weight: 400;

$colorYellow: #E9b54a;
$colorYellowHighlight: #FFd43d;
