<div class="top-row">
  <h1 class="text-align-center margin-bottom">
    Some of our trainers
  </h1>
  <div *ngFor="let trainer of trainers; let index = index">
    <div *ngIf="index %2 === 0" class="row trainer-row">
      <div class="col-3">
        <img [src]="trainer.image" class="margin-right">
        {{trainer.score}} / 5 <fa class="icon star" size="2x" name="star"></fa>
      </div>
      <div class="col-9 text">
        {{trainer.text}}
      </div>
    </div>

    <div *ngIf="index %2 !== 0" class="row trainer-row">
      <div class="col-9 text">
        {{trainer.text}}
      </div>
      <div class="col-3 text-align-right">
        {{trainer.score}} / 5 <fa class="icon star" size="2x" name="star"></fa>
        <img [src]="trainer.image" class="margin-left">
      </div>
    </div>
  </div>

</div>
