<div class="row top-row">
  <div *ngFor="let event of events" class="col-4">
    <div class="event" [class]="'event ' + event.image"></div>
  </div>
</div>
<div class="row middle-row">
  <div class="col-4  offset-4 text-align-center">
    Start working on your personal development
  </div>
</div>
<div class="row button-row">
  <div class="col-4  offset-4 text-align-center">

    <button *ngIf="!loginService.loggedIn" class="btn primary-button" [routerLink]="['/register']">Join
    </button>
    <button *ngIf="loginService.loggedIn" class="btn primary-button" [routerLink]="['/events']">Join
    </button>
  </div>
</div>

<div class="row">
  <div class="col-8 bottom-row offset-2 text-align-center">
    Are you a young professional looking for personal and professional development?<br/>
    Find out here how <strong>YOU</strong> can empower yourself with the help of our training.
  </div>
</div>
